ul.list_nav a.link_home {
  background-image: linear-gradient(to right, #3f6de3, #39dec7);
  -webkit-background-clip: text;
  color: transparent;
}

section.landing__page {
  background-image: url("./../../../../assets/bg/1.jpg");
  height: 70vh;
  background-size: cover;
  background-position: right;
}
section.landing__page div.containt {
  transform: translate(-50%, -50%);
}
section.landing__page div.containt div.top h1 {
  font-size: 2.5rem;
}
section.landing__page div.containt div.form {
  width: 70rem;
  background-color: rgba(255, 255, 255, 0.67);
  padding: 7px 10px;
  border-radius: 20px;
}
section.landing__page div.containt div.form button.btn_filter {
  width: 220px;
  height: 100%;
  border-right: solid 1px black;
  padding-right: 5px;
}
section.landing__page div.containt div.form button.btn_filter div.div1 {
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
section.landing__page div.containt div.form button.btn_filter div.div1 span {
  opacity: 0.7;
}
section.landing__page div.containt div.form button.btn_filter div.div1:hover {
  background-color: rgba(241, 241, 241, 0.9450980392);
}
section.landing__page div.containt div.form button.seach {
  transition: width 0.5s ease;
}
section.landing__page div.containt div.form button.seach p {
  display: none;
}
section.landing__page div.containt div.form button.seach i {
  font-size: 30px;
}
section.landing__page div.containt div.form button.seach:hover p {
  display: block;
}
section.landing__page div.containt div.list__filter ul li {
  align-items: center;
  display: flex;
  background-color: rgba(168, 162, 162, 0.541);
  height: auto;
  width: auto;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
}
section.landing__page div.containt div.list__filter ul li:hover i {
  font-size: 15px;
}
section.landing__page div.containt div.list__filter ul i {
  font-size: 12px;
}
section.landing__page div.containt div.list__filter ul a {
  display: block;
  font-size: 12px;
}

section.link ul.list__filter {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 9.0909090909%;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: smooth;
}
section.link ul.list__filter button {
  opacity: 0.6;
}
section.link ul.list__filter button:hover {
  opacity: 1;
}
section.link ul.list__filter i.icons {
  font-size: 1.2rem;
}
section.link ul.list__filter p {
  position: relative;
  transition: all 3s ease-in-out;
}
section.link ul.list__filter p:hover:before {
  display: block;
  width: 100%;
}
section.link ul.list__filter p:before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -30%;
  display: none;
  background-color: black;
  transition: all 3s ease-in-out;
}
section.link button.control {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  border: solid 1px;
  text-align: center;
  line-height: 30px;
}
section.link button.control:active {
  transform: translateY(-7px);
  background-color: rgba(5, 38, 161, 0.87);
  color: white;
  border: none;
}/*# sourceMappingURL=home.component.css.map */